
    .sub-title{
        color: #696868;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .sub-title-sm {
        color: #696868;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .grey{
        color: #696868;
    }
    
    a{
       color: #696868;
    }
 
    
    a:focus, a:hover{
        color: #f05f40;
        text-decoration: none;
    }
    
    .glyphicon{
        color: #696868;
        font-size: 16px;
    }
     
    .glyphicon:focus, .glyphicon:hover, .glyphicon:active {
        color: #f05f40;
    }
   
    
    /*.ui-state-active,*/
    /*.ui-widget-content .ui-state-active,*/
    /*.ui-widget-header .ui-state-active,*/
    /*a.ui-button:active,*/
    /*.ui-button:active,*/
    /*.ui-button.ui-state-active:hover{*/
    /*    border: 1px solid #f05f40;*/
    /*    background: #f05f40;*/
    /*    font-weight: normal;*/
    /*    color: #fff;*/
    /*}*/
    
    
    /*.panel-primary > .panel-heading{*/
    /*    background-color: #f05f40;*/
    /*    border-bottom-color: #f05f40;*/
    /*}*/
     
    /*.panel-primary{*/
    /*    border-color:  #f05f40;*/
    /*}*/
    
    .card-header {
        color: #696868 !important; 
    }
    
    .border-dark {
        border-color: #f05f40 !important;
    }
    
    .btn-secondary > span{
        color: white !important ;  
    }
    
    body{
        overflow: auto !important ;    
    }
    
    .confirm-width-sm {
        width: 200px;
        margin: 0 auto;
    }

    .confirm-width-md {
        width: 300px;
        margin: 0 auto;
    }
   
    .margin-left-15{
         margin-left: 15px;
    }
    
    .margin-bottom-5{
        margin-bottom: 5px;
    }
    
    .margin-top-5{
         margin-top: 5px;
    }
    
    .modal-title {
        color: #696868;
    }

    input[type=checkbox] {
        transform: scale(2.0);
        margin-top: 35px;
        margin-right: 10px;
        margin-left: 5px;
    }
    
    .w-25{
        width: 25% !important; 
    }
    
    .w-75{
        width: 75% !important; 
    }
    



