
.levelHolderClass{
	background-color: #d2d2d2 !important;
	
}

.multilevelpushmenu_wrapper .ltr{
	/*box-shadow: 5px 0 5px -5px #696868 !important;*/
	box-shadow: none !important;
}

.multilevelpushmenu_wrapper a{
	color: #696868 !important;
	cursor: hand !important;
}
 
.multilevelpushmenu_wrapper h2{
	color: #696868 !important;
}

.multilevelpushmenu_wrapper ul{
	font-size: small !important;
}

.multilevelpushmenu_inactive{
	background-color: #bfbfbf !important;
}




.multilevelpushmenu_wrapper li{
	border-top: 1px solid #696868 !important;
	z-index: 2;
}

.multilevelpushmenu_wrapper li:hover{
		background-color: #bfbfbf  !important;
}
 
.multilevelpushmenu_wrapper li:last-child{
	border-bottom: 1px solid #696868 !important;
}

.multilevelpushmenu_wrapper .backItemClass{
    background-color: #bfbfbf !important;
	border-top: 1px solid #696868 !important;
}

.levelHolderClass{
	padding-top: 10px !important;
}

.multilevelpushmenu_wrapper .levelHolderClass {
    min-height: 0;
}

.multilevelpushmenu_wrapper, #menu{
	min-height: 0px !important;
}




/*.levelHolderClass ul {*/
/*	height: 100%;*/
/*	overflow: auto;*/
/*}*/


 