<div class="col-md-12 mb-3">
    <div class="text-center" style="height: auto; width: 100%; position: relative; display: block; vertical-align: middle;">
        <a target="_blank" href="<?= $banner->link ?>"><img class="img-fluid" style="width: 100%;" src="/app/images/<?= $banner->url ?>" alt=""></a>
    </div>
</div>
