a {
    color: #696868;
}

a:hover {
    color: #f05f40;
    text-decoration: none;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #f05f40 !important;
}

.portal-container {
    min-height: 513px;
}

.btn-primary{
    color: white;
    background-color: #696868;
    border-color: #696868;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: white;  
    background-color: #f05f40 !important;
    border-color: #f05f40 !important;
}
.form-control:focus {
    border-color: #ee5f40 !important;
}

footer {
    color: white;
    padding: 4em 0;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer {
    padding:1em 0;
    background:#312b2b;
    position:relative;
    left:0px;
    bottom:0px;
    height:auto;
    width:100%;
    margin-top: 57px;
}

.w3_footer_grid h3 {
	color: #fff;
    font-size: 1.5em;
    margin-bottom: 2em;
    padding-bottom: .5em;
    position: relative;
    text-transform: uppercase;
}

.w3_footer_grid h3:after {
	content:'';
	background:#f05f40;
	width:20%;
	height:2px;
	position:absolute;
	bottom:0;
	left:0;
}

.w3_footer_grid p {
	color:#cecdcd;
	line-height:1.8em;
	margin-bottom:2em;
}

.w3_footer_grid ul li {
    list-style-type: none;
    margin-bottom: 1em;
    color: #cecdcd;
    font-size: 14px;
}

.w3_footer_grid ul.address li i {
    color:#fff;
    border: 1px solid #fff;
    padding: .5em;
    margin-right: 1em;
}

.w3_footer_grid ul.address li span {
    display: block;
    margin-left: 3em;
}

.w3_footer_grid ul li a {
    color: #ffffff;
    text-decoration: none;
}

.w3_footer_grid ul li a:hover {
	color:#f05f40;
}

.w3_footer_grid ul.info li a {
    padding-left: 3em;
    background: url(../../img/img-sp.png) no-repeat -6px -98px;
}

.w3_footer_grid h4{
	margin:2em 0 1em;
	font-size:1.2em;
	color:#f05f40;
}

/*-- social-buttons --*/
.agileits_social_button ul li {
	display: inline-block;
	margin: 0 !important;
}

.agileits_social_button ul li a.facebook {
    background: #FF5722;
    display: block;
    font-size: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 4px;
}

.agileits_social_button ul li a.facebook:hover {
	background: #ffffff;
    display: block;
}

.agileits_social_button ul li a.instagram {
    background: #FF5722;
    display: block;
    font-size: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 4px;
}

.agileits_social_button ul li a.instagram:hover {
	background: #ffffff;
    display: block;
}

.agileits_social_button ul li a.google {
    background: #FF5722;
    display: block;
    font-size: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 4px;
}

.agileits_social_button ul li a.google:hover {
	background: #ffffff;
    display: block;
}

.agileits_social_button ul li a.pinterest {
	background: #FF5722;
    display: block;
    font-size: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 4px;
}

.agileits_social_button ul li a.pinterest:hover {
	background: #ffffff;
    display: block;
}

.footer-copy1 {
	position:relative;
	padding: 3.1em 0 0;
    border-bottom: 1px solid #F4F4F4;
}

.footer-copy-pos {
    position: absolute;
    right: 14%;
    bottom: -75%;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(254, 155, 5, 0.69);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(255, 155, 5, 0.49);
}

.footer-copy p {
	margin: 1em 0 0;
	text-align:center;
	color:#999;
	line-height:1.8em;
}

.footer-copy p a {
	color:#f05f40;
	text-decoration:none;
}

.footer-copy p a:hover {
	color:#999;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000000000000000;
	background: url(../../img/preloader.gif) center no-repeat rgba(31, 30, 28, 0.5);
}
