    /*
    Flaticon icon font: Flaticon
    Creation date: 10/07/2016 18:40
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add-documents:before { content: "\f100"; }
.flaticon-app:before { content: "\f101"; }
.flaticon-arrow:before { content: "\f102"; }
.flaticon-box:before { content: "\f103"; }
.flaticon-business:before { content: "\f104"; }
.flaticon-business-1:before { content: "\f105"; }
.flaticon-business-2:before { content: "\f106"; }
.flaticon-can:before { content: "\f107"; }
.flaticon-close:before { content: "\f108"; }
.flaticon-cogwheel:before { content: "\f109"; }
.flaticon-cross:before { content: "\f10a"; }
.flaticon-draw:before { content: "\f10b"; }
.flaticon-draw-1:before { content: "\f10c"; }
.flaticon-exclamation:before { content: "\f10d"; }
.flaticon-interface:before { content: "\f10e"; }
.flaticon-interface-1:before { content: "\f10f"; }
.flaticon-interface-2:before { content: "\f110"; }
.flaticon-interface-3:before { content: "\f111"; }
.flaticon-interface-4:before { content: "\f112"; }
.flaticon-line:before { content: "\f113"; }
.flaticon-line-1:before { content: "\f114"; }
.flaticon-location:before { content: "\f115"; }
.flaticon-lock:before { content: "\f116"; }
.flaticon-lock-1:before { content: "\f117"; }
.flaticon-lock-2:before { content: "\f118"; }
.flaticon-mark:before { content: "\f119"; }
.flaticon-mark-1:before { content: "\f11a"; }
.flaticon-medical:before { content: "\f11b"; }
.flaticon-multimedia:before { content: "\f11c"; }
.flaticon-multimedia-1:before { content: "\f11d"; }
.flaticon-multimedia-2:before { content: "\f11e"; }
.flaticon-multimedia-3:before { content: "\f11f"; }
.flaticon-multimedia-4:before { content: "\f120"; }
.flaticon-multimedia-5:before { content: "\f121"; }
.flaticon-multimedia-6:before { content: "\f122"; }
.flaticon-music:before { content: "\f123"; }
.flaticon-new-document:before { content: "\f124"; }
.flaticon-power:before { content: "\f125"; }
.flaticon-profile:before { content: "\f126"; }
.flaticon-profile-1:before { content: "\f127"; }
.flaticon-profile-2:before { content: "\f128"; }
.flaticon-profile-3:before { content: "\f129"; }
.flaticon-profile-4:before { content: "\f12a"; }
.flaticon-search:before { content: "\f12b"; }
.flaticon-signs:before { content: "\f12c"; }
.flaticon-signs-1:before { content: "\f12d"; }
.flaticon-signs-2:before { content: "\f12e"; }
.flaticon-signs-3:before { content: "\f12f"; }
.flaticon-signs-4:before { content: "\f130"; }
.flaticon-signs-5:before { content: "\f131"; }
.flaticon-signs-6:before { content: "\f132"; }
.flaticon-signs-7:before { content: "\f133"; }
.flaticon-technology:before { content: "\f134"; }
.flaticon-time:before { content: "\f135"; }
.flaticon-tool:before { content: "\f136"; }
    
    $font-Flaticon-add-documents: "\f100";
    $font-Flaticon-app: "\f101";
    $font-Flaticon-arrow: "\f102";
    $font-Flaticon-box: "\f103";
    $font-Flaticon-business: "\f104";
    $font-Flaticon-business-1: "\f105";
    $font-Flaticon-business-2: "\f106";
    $font-Flaticon-can: "\f107";
    $font-Flaticon-close: "\f108";
    $font-Flaticon-cogwheel: "\f109";
    $font-Flaticon-cross: "\f10a";
    $font-Flaticon-draw: "\f10b";
    $font-Flaticon-draw-1: "\f10c";
    $font-Flaticon-exclamation: "\f10d";
    $font-Flaticon-interface: "\f10e";
    $font-Flaticon-interface-1: "\f10f";
    $font-Flaticon-interface-2: "\f110";
    $font-Flaticon-interface-3: "\f111";
    $font-Flaticon-interface-4: "\f112";
    $font-Flaticon-line: "\f113";
    $font-Flaticon-line-1: "\f114";
    $font-Flaticon-location: "\f115";
    $font-Flaticon-lock: "\f116";
    $font-Flaticon-lock-1: "\f117";
    $font-Flaticon-lock-2: "\f118";
    $font-Flaticon-mark: "\f119";
    $font-Flaticon-mark-1: "\f11a";
    $font-Flaticon-medical: "\f11b";
    $font-Flaticon-multimedia: "\f11c";
    $font-Flaticon-multimedia-1: "\f11d";
    $font-Flaticon-multimedia-2: "\f11e";
    $font-Flaticon-multimedia-3: "\f11f";
    $font-Flaticon-multimedia-4: "\f120";
    $font-Flaticon-multimedia-5: "\f121";
    $font-Flaticon-multimedia-6: "\f122";
    $font-Flaticon-music: "\f123";
    $font-Flaticon-new-document: "\f124";
    $font-Flaticon-power: "\f125";
    $font-Flaticon-profile: "\f126";
    $font-Flaticon-profile-1: "\f127";
    $font-Flaticon-profile-2: "\f128";
    $font-Flaticon-profile-3: "\f129";
    $font-Flaticon-profile-4: "\f12a";
    $font-Flaticon-search: "\f12b";
    $font-Flaticon-signs: "\f12c";
    $font-Flaticon-signs-1: "\f12d";
    $font-Flaticon-signs-2: "\f12e";
    $font-Flaticon-signs-3: "\f12f";
    $font-Flaticon-signs-4: "\f130";
    $font-Flaticon-signs-5: "\f131";
    $font-Flaticon-signs-6: "\f132";
    $font-Flaticon-signs-7: "\f133";
    $font-Flaticon-technology: "\f134";
    $font-Flaticon-time: "\f135";
    $font-Flaticon-tool: "\f136";