<h2>Consulta</h2>
<p>Correo enviado desde el formulario de Consulta respecto a una publicación del Sitio Web</p>
<br>
<h2>DATO PUBLICACIÓN</h2>
<label>Código o referencia: #<?= $data['code'] ?></label>
<br>
<h2>Datos de Cliente<h2>
<h3>Nombre</h3>
<label><?= $data['name'] ?></label>
<h3>Correo</h3>
<label><?= $data['email'] ?></label>
<h3>Teléfono</h3>
<label><?= $data['phone'] ?></label>
<h3>Mensaje</h3>
<p><?= $data['message'] ?></p>
